<form [formGroup]="entryForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <input type="email" class="form-control" formControlName="email" placeholder="email" required>
    <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
      <div *ngIf="email.errors.email">
        email error
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="password" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          password required
        </div>
      <div *ngIf="password.errors.forbiddenPassword">
          password must be 8 characters & contain at least 1 capital, lowercase, number, & special character
      </div>
    </div>
  </div>
  <input class="btn" type="submit" value="submit" />

</form>

